#Experiencia {
    padding: 20px;
    margin: 10px;
}

#Experiencia h2 {
    color: #22015e;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

#Experiencia .contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

#Experiencia .cuadro {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #22015e;
}


#Experiencia .cuadro h3 {
    color: #22015e;
    font-size: 1.3em;
    margin-bottom: 12px;
    font-weight: bold;
}

#Experiencia .cuadro p {
    color: #022b58;
    line-height: 1.6;
}